{% extends "layout.html" %} {% block title %} Act2Impact - Tasks {% endblock %}
{% block content %}
<h1 class="text-center text-#2E2E2E mt-4">Welcaome to Act2Impact Tasks</h1>
<p>Here you can manage your tasks.</p>

<a href="{% url 'task_create' %}" class="btn btn-primary mb-4">Create a Task</a>
<div class="container row gap-3">
  {% for task in tasks %}
  <div class="card" style="width: 18rem">
    <img src="{{task.photo.url}}" class="card-img-top card-img-fixed" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{task.user.username}}</h5>
      <p class="card-text">{{task.text}}</p>
      {% if task.user == user %}
      <a href="{% url 'task_edit' task.id%}" class="btn btn-primary">Edit</a>
      <a href="{% url 'task_delete' task.id %}" class="btn btn-danger"
        >Delete</a
      >
      {% endif %}
    </div>
    
  </div>
  {% endfor %}
</div>

{% endblock %}
